@import "sass/variables", "sass/mixins", "sass/global", "sass/components",
  "sass/navbar", "sass/footer";

/********************* Start Slider section *********************/

.home-sec {
  .home-item {
    position: relative;
    height: calc(100vh - 82px);
    display: flex;
    align-items: center;
    min-height: 600px;

    @media screen and (max-width: $screen-lg) {
      height: calc(100vh - 70px);
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba($color: #000000, $alpha: 0.5);
      z-index: -1;
    }

    .home-img {
      object-fit: cover;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -2;
    }

    .content {
      width: 500px;
      display: flex;
      flex-direction: column;
      gap: 25px;

      @media screen and (max-width: $screen-sm) {
        width: 100%;
      }

      .title {
        font-size: 24px;
        color: $white;

        @media screen and (max-width: $screen-sm) {
          font-size: 22px;
        }

        @media screen and (max-width: $screen-xs) {
          font-size: 20px;
        }
      }

      .desc {
        font-size: 16px;
        color: $white;

        @media screen and (max-width: $screen-xs) {
          font-size: 15px;
        }
      }

      .main-btn {
        width: fit-content;
      }
    }
  }

  .owl-dots {
    position: absolute;
    bottom: 24px;
    left: 50%;
    transform: translateX(-50%);
    @include center;
    gap: 7px;

    .owl-dot {
      margin-top: 25px;
      @include circle(10px);
      background-color: $white !important;
      opacity: 0.5;
      transition: $main-transition;

      &.active {
        opacity: 1;
      }
    }
  }
}

/********************* End Slider section *********************/

/********************* Start principles section *********************/

.principles-cards {
  .principle-card {
    position: relative;
    padding: 35px 20px;
    text-align: center;
    background-color: rgba($color: $bink, $alpha: 0.1);

    @media screen and (max-width: $screen-md) {
      padding: 35px 15px;
    }

    .prin-name {
      font-size: 20px;
      color: $black;
      margin-bottom: 18px;

      @media screen and (max-width: $screen-xs) {
        font-size: 18px;
      }
    }

    .prin-desc {
      font-size: 16px;
      color: $main;
      line-height: 2;

      @media screen and (max-width: $screen-xs) {
        font-size: 15px;
        line-height: 1.7;
      }
    }

    &::after,
    &::before {
      content: "";
      position: absolute;
      background-color: rgba($color: $bink, $alpha: 0.2);
      width: 100px;
      height: 6px;
      z-index: -1;
      left: 50%;
      transform: translateX(-50%);
    }

    &::after {
      top: -3px;
    }

    &::before {
      bottom: -3px;
    }
  }
}

/********************* End principles section *********************/

/********************* Start services section *********************/
.services-slider {
  position: relative;

  .owl-prev,
  .owl-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    @include circle(40px);
    border: 1px solid $sec !important;
    background-color: $sec !important;
    color: $white !important;
    @include center;

    @media screen and (max-width: $screen-sm) {
      display: none !important;
    }
  }

  .owl-prev {
    right: -55px;
  }

  .owl-next {
    left: -55px;
  }
}

.services-card {
  border-radius: 15px;
  overflow: hidden;
  display: block;
  background-color: rgba($color: $white, $alpha: 1);
  position: relative;
  box-shadow: $sec-shadow;

  .img {
    position: relative;

    > img:first-child {
      width: 100%;
      height: 150px;
      object-fit: cover;
    }
  }

  .services-img {
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
    @include circle(60px !important);
    overflow: hidden;
    z-index: 8;
    object-fit: cover;
    border: 3px solid $white;
  }

  .services-content {
    padding: 40px 15px 25px;
    text-align: center;
    color: $white;
    position: relative;
    transition: $main-transition;

    .services-head {
      color: $black;
      margin-bottom: 12px;
      height: 27px;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
      font-size: 20px;
      transition: $main-transition;
    }

    .services-desc {
      font-size: 14px;
      color: $black;
      line-height: 1.6;
      height: 68px;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      transition: $main-transition;
      margin-bottom: 15px;
    }
  }

  .services_btn {
    color: $white;
    margin: auto;
    font-weight: 500;
    background-color: $sec;
  }

  &:hover {
    .services-content {
      background-color: $sec;

      .services-desc,
      .services-head {
        color: $white;
      }

      .services_btn {
        background-color: $white !important;
        color: $black !important;
      }
    }
  }
}
/********************* End services section *********************/

/********************* Start Team section *********************/

.team-card {
  background: $white;
  box-shadow: $sec-shadow;
  overflow: hidden;
  border-start-start-radius: 12px;
  border-end-end-radius: 12px;

  .top {
    position: relative;
    width: 100%;
    height: 60px;
    background-color: $sec;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: inherit;

      #{$ltr} & {
        transform: skewY(-8deg);
        transform-origin: 100% 0;
      }

      #{$rtl} & {
        transform: skewY(8deg);
        transform-origin: 0 100%;
      }
    }

    .avatar {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: 30px;
      z-index: 5;
      @include circle(120px);
      overflow: hidden;
      background: #ccc;
      border: 3px solid #fff;
      display: block;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: $main-transition;
      }
    }
  }

  .team-name {
    position: relative;
    margin: 100px 0 30px;
    text-align: center;
    font-size: 19px;
    color: $black;

    &::after {
      content: "";
      position: absolute;
      bottom: -10px;
      left: 50%;
      margin-left: -15px;
      width: 35px;
      height: 1px;
      background: #000;
    }
  }

  .desc {
    padding: 0 1rem 2rem;
    text-align: center;
    line-height: 1.5;
    color: $black;
  }

  &:hover {
    .top {
      .avatar {
        img {
          transform: scale(1.3);
        }
      }
    }
  }
}

/********************* End Team section *********************/

/********************* Start numbers section *********************/

.our-numbers {
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  z-index: 2;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: -1;
  }

  .number-items {
    @include center;
    flex-wrap: wrap;
    gap: 30px 85px;

    @media screen and (max-width: $screen-sm) {
      justify-content: start;
      gap: 20px;
    }

    .number-item {
      text-align: center;
      color: $white;

      .num {
        font-size: 34px;
        margin-bottom: 10px;

        @media screen and (max-width: $screen-sm) {
          font-size: 28px;
        }
      }

      .text {
        font-size: 20px;

        @media screen and (max-width: $screen-sm) {
          font-size: 17px;
        }
      }
    }
  }
}

/********************* End numbers section *********************/

/********************* Start brand section *********************/

.brand-img {
  max-width: 90px;
  max-height: 100px;
  width: fit-content !important;
  margin: 0 auto;
  /* object-fit: cover; */
}

/********************* End brand section *********************/

/********************* Start page-header section *********************/

.page-header {
  position: relative;
  z-index: 2;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #003731b5;
    z-index: -1;
  }

  .section-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
    object-fit: cover;
  }

  .page-info {
    padding: 80px 0;
    // padding-bottom: 40px;
    @include center;
    flex-direction: column;

    @media screen and (max-width: $screen-xs) {
      padding-top: 80px;
      padding-bottom: 25px;
    }

    .page-head {
      font-size: 30px;
      color: $white;
      margin-bottom: 18px;

      @media screen and (max-width: $screen-xs) {
        font-size: 26px;
      }
    }
  }
}

/********************* End page-header section *********************/

/********************* Start gallary section *********************/

.gallary {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px;
  align-items: start;
  justify-items: center;

  @media screen and (max-width: $screen-lg) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media screen and (max-width: $screen-xs) {
    grid-template-columns: repeat(2, 1fr);
  }

  .fancybox-img {
    overflow: hidden;
    position: relative;
    height: 200px;
    width: 100%;

    @media screen and (max-width: $screen-xs) {
      height: 180px !important;
    }

    .gallary-img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: $main-transition;
    }

    &:nth-child(6) {
      grid-column: span 5;
      height: 400px;
      width: 100%;

      @media screen and (max-width: $screen-lg) {
        grid-column: span 1;
        height: 200px;
      }
    }

    &:nth-child(4) {
      @media screen and (max-width: $screen-lg) {
        height: 400px;
        grid-column: span 3;
        width: 100%;
      }

      @media screen and (max-width: $screen-md) {
        height: 200px;
        grid-column: span 1;
      }
    }
  }
}

/********************* End gallary section *********************/

/********************* Start about-con section *********************/

.about-con {
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 35px;

  @media screen and (max-width: $screen-lg) {
    flex-direction: column-reverse;
    align-items: center;
  }

  .about-right {
    width: 100%;

    .about-title {
      width: fit-content;
      font-size: 22px;
      color: $black;
      margin-bottom: 30px;
      position: relative;

      &::after {
        content: "";
        position: absolute;
        bottom: -10px;
        @include dir-left(0);
        background-color: $sec;
        width: 80px;
        height: 1px;
      }
    }

    .desc {
      font-size: 15px;
      color: $black;
      line-height: 2;
    }
  }

  .about-img {
    position: relative;
    flex-shrink: 0;
    .img {
      width: 400px;
      height: 340px;
      border-radius: 15px;
      object-fit: cover;

      @media screen and (max-width: $screen-sm) {
        width: 340px;
        height: 300px;
      }

      @media screen and (max-width: $screen-xxs) {
        width: 260px;
        height: 260px;
      }
    }
  }
}

/********************* End about-con section *********************/

/********************* Start contact-box section *********************/
.contact-box {
  background-color: $white;
  border-radius: 12px;
  box-shadow: $sec-shadow;
  padding: 25px;
  transition: $main-transition;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;

  @media screen and (max-width: $screen-md) {
    padding: 15px;
    gap: 12px;
  }

  .ic {
    @include circle(60px);
    @include center;
    background-color: $white;
    border: 1px solid $sec;
    font-size: 18px;
    color: $sec;
    transition: $main-transition;

    @media screen and (max-width: $screen-md) {
      @include circle(50px);
      font-size: 20px;
    }
  }

  .name {
    font-size: 18px;
    color: $black;

    @media screen and (max-width: $screen-md) {
      font-size: 16px;
    }
  }

  .desc {
    font-size: 14px;
    color: $black;
    @media screen and (max-width: $screen-md) {
      font-size: 13px;
    }
  }

  &:hover {
    transform: translateY(-10px);

    .ic {
      background-color: $sec;
      color: $white;
    }
  }
}

.contact_form {
  background-color: #f9f9f9;
  padding: 35px 25px;
  transition: $main-transition;
  // margin-bottom: -50px;
  position: relative;
  z-index: 65;

  @media screen and (max-width: $screen-md) {
    padding: 20px 15px;
  }

  .input-g {
    margin-bottom: 24px;
  }

  .input-me {
    background-color: $white !important;
    border: none !important;
    border-radius: 0 !important;
  }

  .main-icon {
    color: $sec;
  }

  .main-btn {
    background-color: $white;
    color: $sec;
    border-color: $sec;
  }
}

.contact_title {
  width: fit-content;
  font-size: 20px;
  color: $black;
  margin-bottom: 40px;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    bottom: -10px;
    @include dir-left(0);
    background-color: $sec;
    width: 80px;
    height: 1px;
  }
}

.contact-sec {
  iframe {
    min-height: 360px;
  }
}
/********************* End contact-box section *********************/

/********************* Start get-quote section *********************/
.get-quote {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  @include dir-right(0);
  background-color: $sec;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.15);
  color: #fff;
  font-size: 15px;
  padding: 12px;
  @include dir-padding-left(25px);
  z-index: 100;
  writing-mode: vertical-rl;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
  border: 1px solid $sec;
  border-start-start-radius: 35px;
  border-end-start-radius: 35px;
}
/********************* End get-quote section *********************/


/********************* Start services-detailes section *********************/
.services-detailes-con{
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 45px;

  @media screen and (max-width:$screen-lg) {
    flex-direction: column;
    align-items: center;
  }

  .detailes-right{
    width: 100%;

    .small-title{
      display: flex;
      align-items: center;
      gap: 12px;
      margin-bottom: 18px;
      background-color: $sec;
      border-radius: 25px;
      width: fit-content;
      color: $white;
      font-size: 15px;
      
      #{$ltr} & {
        padding: 10px 25px 10px 15px;
      }
      #{$rtl} & {
        padding: 10px 15px 10px 25px;
      }
    }

    .detailes-title{
      font-size: 24px;
      color: $black;
      margin-bottom: 18px;
    }

    .desc{
      font-size: 16px;
      color: $black;
      line-height: 2;
      font-weight: 600;
    }
  }


  .detailes-img{
    position: relative;

    &::after{
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      border-radius: 12px;
      border: 1px solid $sec;
      top: 20px;
      @include dir-right(20px);
      z-index: 2;
    }

    .img{
      width: 400px;
      height: 340px;
      border-radius: 15px;
      object-fit: cover;

      @media screen and (max-width:$screen-sm) {
        width: 340px;
        height: 300px;
      }

      @media screen and (max-width:$screen-xxs) {
        width: 260px;
        height: 260px;
      }
    }
  }
}
/********************* End services-detailes section *********************/
